*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}

.material-symbols-outlined {
  color: #fff;
  font-size: 4rem;
}

.menu-icon {
  cursor: pointer;
}

footer {
  background-color: #00464d;
}

a:link,
a:visited {
  text-decoration: none;
  color: #fff;
}

.copyright {
  font-size: 1rem;
  color: #fff;
}
